<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ty.yjx.love.dao.PhotoMapper" >
  <resultMap id="BaseResultMap" type="com.ty.yjx.love.model.Photo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="photo_url" property="photoUrl" jdbcType="VARCHAR" />
    <result column="group_date" property="groupDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, photo_url, group_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_photo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_photo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ty.yjx.love.model.Photo" >
    insert into t_photo (id, photo_url, group_date
      )
    values (#{id,jdbcType=INTEGER}, #{photoUrl,jdbcType=VARCHAR}, #{groupDate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ty.yjx.love.model.Photo" >
    insert into t_photo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="photoUrl != null" >
        photo_url,
      </if>
      <if test="groupDate != null" >
        group_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="photoUrl != null" >
        #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="groupDate != null" >
        #{groupDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ty.yjx.love.model.Photo" >
    update t_photo
    <set >
      <if test="photoUrl != null" >
        photo_url = #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="groupDate != null" >
        group_date = #{groupDate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ty.yjx.love.model.Photo" >
    update t_photo
    set photo_url = #{photoUrl,jdbcType=VARCHAR},
      group_date = #{groupDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_photo
    where group_date &lt;= #{endDay,jdbcType=VARCHAR} and group_date &gt;= #{startDay,jdbcType=VARCHAR}
  </select>
</mapper>